.hover\:shadow-none:hover {
    box-shadow: none !important;
  }

  .homeImg{
    animation:  1s ease forwards, floatImage 4s ease-in-out infinite;
    /* animation-delay: 1s,2s; */
  }

  .social-icon{
    padding: 4px;
    border: 2px solid #FF6AC2;
    color: #FF6AC2;
    
    
  }
  .social-icon:hover{
    color: white;
    background-color: #FF6AC2;
    box-shadow: 1px 1px 5px 2px #FF6AC2;
  }

/* Sajib Logo in large device in navbar */
  .rightMove{
    animation: slideRight 1s ease forwards;
  }

  /* SH logo in small device in right side */
  .leftMove{
    animation: slideLeft 1s ease forwards;
  }

  .topMove{
    animation: slideTop 1s ease forwards;
    opacity: 0;
  }
  .downMove{
    animation: slideDown 1s ease forwards;
    opacity: 0;
  }

  .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box{
    height: 200px;
    width: 200px;
    background-color: #FF6AC2;
    box-shadow: 0 2px 20px 2px #FF6AC2;
    animation: animate 4s ease-in-out infinite;
    transition: all 1s ease-in-out;
  }

  /* Hover effect on juorney div */
  .leftEffect{
    height: 100%;
    width: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #31304D;
    border-radius: 20px;
    transition: 0.8s;
  }

  .container:hover .leftEffect{
    width: 100%;
  }
  
  /* Skills styles*/
  .skill h3{
    font-weight:700;
    font-size: 14px;
  }
  .skill li{
    margin-top: 24px;
  }
  .bar{
    background: transparent;
    display: block;
    height: 15px;
    border: 1px solid #FF6AC2;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .bar span{
    height: 15px;
    float: left;
    background-color: #FF6AC2;
  }
  .html{
    width: 90%;
    animation: html 2s;
  }
  .css{
    width: 70%;
    animation: css 2s;
  }
  .javascript{
    width: 60%;
    animation: javascript 2s;
  }
  .tailwind{
    width: 75%;
    animation: tailwind 2s;
  }
  .react{
    width: 70%;
    animation: react 2s;
  }
  .mongodb{
    width: 60%;
    animation: mongodb 2s;
  }
  .node{
    width: 40%;
    animation: node 2s;
  }
  .express{
    width: 25%;
    animation: express 2s;
  }


  .upEffect{
    width: 0px;
    height: 0px;
    background-color: #161A30;
    transition: 0.5s;
  }
  .skill-container:hover .upEffect{
    width: 100%;
    height: 100%;
  }

  .projectEffect{
    width: 0px;
    height: 0px;
    background-color: #31304D;
    transition: 0.6s;
  }
  .project-container:hover .projectEffect{
    width: 100%;
    height: 100%;
  }
  .project-container:hover .projectEffect .inner-content{
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  /* For project Image */


  @keyframes html{
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  } 
  @keyframes css{
    0%{
      width: 0%;
    }
    100%{
      width: 70%;
    }
  } 
  @keyframes javascript{
    0%{
      width: 0%;
    }
    100%{
      width: 60%;
    }
  } 
  @keyframes tailwind{
    0%{
      width: 0%;
    }
    100%{
      width: 75%;
    }
  } 
  @keyframes react{
    0%{
      width: 0%;
    }
    100%{
      width: 70%;
    }
  } 
  @keyframes mongodb{
    0%{
      width: 0%;
    }
    100%{
      width: 60%;
    }
  } 
  @keyframes node{
    0%{
      width: 0%;
    }
    100%{
      width: 40%;
    }
  } 
  @keyframes express{
    0%{
      width: 0%;
    }
    100%{
      width: 25%;
    }
  } 

  /* keyFrames */

  @keyframes animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 70%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;;
    }
  }

  @keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-28px);
    }
    100%{
        transform: translateY(0);
    }
  }

  @keyframes slideRight{
    0%{
        transform: translateX(-120px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
  }
  @keyframes slideLeft{
    0%{
        transform: translateX(120px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
  }
  @keyframes slideTop{
    0%{
        transform: translateY(120px);
        opacity: 0;
        
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
  }
  @keyframes slideDown{
    0%{
        transform: translateY(-120px);
        opacity: 0;
        
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
  }
