.hover\:shadow-none:hover {
    box-shadow: none !important;
  }

  .homeImg{
    animation:  1s ease forwards, floatImage 4s ease-in-out infinite;
    /* animation-delay: 1s,2s; */
  }

  .social-icon{
    padding: 4px;
    border: 2px solid #FF6AC2;
    color: #FF6AC2;
    
    
  }
  .social-icon:hover{
    color: white;
    background-color: #FF6AC2;
    box-shadow: 1px 1px 5px 2px #FF6AC2;
  }

/* Sajib Logo in large device in navbar */
  .rightMove{
    animation: slideRight 1s ease forwards;
  }

  /* SH logo in small device in right side */
  .leftMove{
    animation: slideLeft 1s ease forwards;
  }

  .topMove{
    animation: slideTop 1s ease forwards;
    opacity: 0;
  }
  .downMove{
    animation: slideDown 1s ease forwards;
    opacity: 0;
  }

  .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box{
    height: 200px;
    width: 200px;
    background-color: #FF6AC2;
    box-shadow: 0 2px 20px 2px #FF6AC2;
    animation: animate 4s ease-in-out infinite;
    transition: all 1s ease-in-out;
  }


  /* keyFrames */

  @keyframes animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 70%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;;
    }
  }

  @keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-28px);
    }
    100%{
        transform: translateY(0);
    }
  }

  @keyframes slideRight{
    0%{
        transform: translateX(-120px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
  }
  @keyframes slideLeft{
    0%{
        transform: translateX(120px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
  }
  @keyframes slideTop{
    0%{
        transform: translateY(120px);
        opacity: 0;
        
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
  }
  @keyframes slideDown{
    0%{
        transform: translateY(-120px);
        opacity: 0;
        
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
  }
